.cadastro-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem;
    margin-top: 2rem;
  }
  
/* Estilos para a frase "Cadastro" */
.cadastro-container h2 {
    font-size: 1.5rem; /* Ajuste o tamanho conforme necessário */
    font-weight: bold;
  }
  
  /* Estilos para a frase "Preencha os dados abaixo" */
  .cadastro-container p {
    font-size: 1rem; /* Ajuste o tamanho conforme necessário */
    font-weight: bold;
  }
  